.container:before,
.container:after {
  display: block;
  width: 100%;
}

.main-head {
  background: #141414 url() 50% 0;
  background-size: cover;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-head__info {
  span {
    display: inline-block;
    padding: 6px 20px;
    color: white;
    text-align: center;
    i {
      margin-right: 10px;
    }
  }
}

.main-head__social {
  a {
    display: inline-block;
    margin: 0 5px;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

.main-head__info_border {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.home-hello {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  span {
    display: block;
    margin-bottom: 50px;
    color: #522411;
    font-weight: bold;
    font-size: 36px !important;
    font-family: PT Serif !important;
  }
}

.home-hello__btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-color: #9fc500;
  max-width: 100%;
  margin: 0 auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-style: solid;
  border-width: 2px;
  background: rgba(159, 197, 0, 1);
  background: linear-gradient(rgba(159, 197, 0, 1) 45%, rgba(159, 197, 0, 1));
  box-shadow: 0px 0px 2px 0 #9fc500;
  font-family: Georgia;
  color: white;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  line-height: 1em;
  box-sizing: border-box;
  background-color: unset;
  transition: all 0.2s ease-out;
  &:hover {
    border-color: #9fc500;
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1));
    color: #9fc500;
  }
}

.home-hello__info {
  display: block;
  margin: -20px auto 40px;
  color: #522411;
  text-decoration: underline;
  font-size: 24px;
  font-family: PT Serif !important;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    color: #9fc500;
  }
}

.home-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.home-features__card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 270px;
  max-width: 100%;
  margin: 0 5px 20px 5px;
  transition: all 0.2s ease-out;
  span {
    display: block;
    padding: 0 5px;
    height: 78px;
    overflow: hidden;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 20px !important;
    line-height: 1.3;
    color: #522511;
    transition: all 0.2s ease-out;
  }
  &:hover {
    text-decoration: none;
    * {
      opacity: 0.8;
    }
    span {
      text-decoration: none;
    }
  }
}

.home-features-card__img {
  display: block;
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-out;
}

.home-features-card__footer {
  display: block;
  margin-top: 15px;
  max-width: 100%;
  transition: all 0.2s ease-out;
}

.home-title {
  display: block;
  margin-bottom: 25px;
  font-family: PT Serif !important;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  line-height: 120%;
  font-size: 24px !important;
  color: #522411;
  &::before {
    content: "";
    background: #522511;
    float: right;
    position: absolute;
    margin-top: 38px;
    width: 30px;
    z-index: 10;
    height: 2px;
  }
}

.home-reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-reviews__card {
  display: inline-block;
  width: 48%;
  margin-bottom: 25px;
  a {
    display: block;
    color: #50220f;
  }
  span {
    display: block;
    margin-top: 5px;
  }
}

.home-reviews__all {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  text-align: right;
  a {
    text-decoration: underline;
    color: #50220f;
    &:hover {
      text-decoration: none;
    }
  }
}

.home-tables {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.home-tables__card {
  width: 33%;
  table {
    font-size: 14px;
  }
}

.home-articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-articles__card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-bottom: 20px;
  color: #999;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease-out;
  img {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  hr {
    max-width: 70%;
    transition: all 0.2s ease-out;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #141414;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  }
}

.home-articles-card__body {
  padding: 5px;
  p {
    height: 54px;
    overflow: hidden;
    font-size: 16px;
    transition: all 0.1s ease-out;
  }
}

.home-articles-card__title {
  height: 90px;
  overflow: hidden;
  color: #50220f;
  font-family: PT Serif !important;
  font-weight: normal;
  line-height: 150%;
  font-size: 20px;
  transition: all 0.2s ease-out;
}

.home-articles__more {
  display: block;
  width: 100%;
  display: block;
  margin: 0 auto 100px;
  color: #522411;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
  font-family: PT Serif !important;
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    color: #9fc500;
  }
}

.main-footer {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #ccc;
  border: 0;
  background-image: url('../images/pattern.png');
  line-height: 22px;
  color: #666;
  font-size: 14px;
  a {
    color: #522411;
  }
  img {
    max-width: 100%;
  }
}

.main-footer__title {
  margin-top: 30px;
  margin-bottom: 5px;
  color: #522411;
  font-family: PT Serif !important;
  font-size: 24px !important;
}

.main-footer_time {
  padding-left: 30px;
  font-weight: bold;
}

.main-footer__who {
  margin-top: 30px;
  font-size: 13px;
}

.navbar-scroll {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  .navbar-nav>li>a {
    padding: 6px 12px !important;
  }
  .navbar-brand {
    padding: 5px 0 !important;
  }
  img {
    max-width: 150px !important;
  }
}

.navbar-scroll_active {
  display: block;
}

.main-title {
  display: block;
  width: 100%;
  padding: 30px 0 30px 0;
  background: #fafafa url() 50% 0;
  background-size: cover;
  color: #333333;
  font-family: PT Serif !important;
  font-weight: normal;
  line-height: 150%;
  font-size: 36px;
}

.main-content {
  padding-top: 30px;
  color: #555;
  font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.8em;
  .home-hello {
    padding: 20px 0;
  }
}

.about-article {
  text-align: justify;
  p {
    margin-bottom: 20px;
  }
}

.about-begin {
  padding: 50px 0 !important;
  text-align: center;
}

.team-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
  text-align: center;
  transition: all 0.15s ease-out;
  p {
    font-family: PT Serif, serif;
    font-style: italic;
    font-weight: 300;
    color: #a6a6a6;
    font-size: 15px;
    transition: all 0.15s ease-out;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.team-card__title {
  display: block;
  margin: 20px auto;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: none;
  color: #50220f;
  transition: all 0.15s ease-out;
}

.team-card__img {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 999rem;
  object-fit: cover;
  object-position: center;
  transition: all 0.15s ease-out;
}

.team-card__footer {
  display: block;
  max-width: 100%;
  margin: 10px auto 40px;
  transition: all 0.15s ease-out;
}

.reviews-card {
  padding: 0 40px 20px;
}

.reviews-card__header {
  font-weight: bold;
  font-size: 18px;
  i {
    display: inline-block;
    margin-right: 10px;
    color: black;
  }
}

.moviews-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.moviews-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin-bottom: 30px;
}

.contacts-info {
  padding-left: 20px;
  color: #522411;
  p {
    margin-bottom: 5px;
    i {
      margin-left: -20px;
    }
  }
}

.contacts-form {
  label {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: left;
    color: #4f220f;
    line-height: 1.2;
    font-weight: 400;
  }
  input {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    outline: none !important;
    padding: 6px 12px;
    margin: 0 10px 10px 0;
    background-color: #ccffcc;
    border: 1px solid #eee;
    border-radius: 6px;
    transition: all 0.15s ease-out;
    &:focus {
      background-color: white;
      border-color: #555;
    }
  }
  textarea {
    padding: 6px 12px;
    border: none;
    outline: none !important;
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 6px;
    transition: all 0.15s ease-out;
    &:focus {
      background-color: white;
      border-color: #555;
    }
  }
  button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 48px;
    background-color: #336633;
    color: white;
    border: none;
    outline: none;
    border-radius: 999rem;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.contacts-form__group {
  display: flex;
  flex-flow: column nowrap;
}

.price-title {
  margin-bottom: 40px;
  text-align: center;
  span {
    color: #4f220f;
    font-size: 36px;
    font-family: PT Serif !important;
    font-weight: normal;
    line-height: 150%;
  }
}

.articles__card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 360px;
  max-width: 100%;
  margin: 0 5px 20px 5px;
  transition: all 0.2s ease-out;
  span {
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 20px !important;
    line-height: 1.3;
    color: #522511;
    transition: all 0.2s ease-out;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    text-decoration: none;
    * {
      opacity: 0.8;
    }
    span {
      text-decoration: none;
    }
  }
}

.articles-card__img {
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-out;
}

.articles-card__footer {
  display: block;
  margin-top: 15px;
  max-width: 100%;
  transition: all 0.2s ease-out;
}

.portfolio-article {
  color: #555;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  p {
    margin: 0 0 1.5em 0;
    text-align: justify;
    line-height: 1.8em;
  }
  a {
    color: #50220f;
  }
  .home-hello__btn {
    margin: 0 auto 20px;
    color: white !important;
    &:hover {
      color: #9fc500 !important;
      text-decoration: none;
    }
  }
}

.portfolio-article_highlighted {
  font-family: 'PT Serif', serif;
  font-size: 20px !important;
  font-weight: 300;
  color: #50220f !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.portfolio-article__next {
  display: block;
  width: 100%;
  font-weight: 300;
  margin: 50px 0 30px 0;
  font-size: 14px;
  padding: 30px 20px;
  background: #f8f8f8;
  text-align: right;
  a {
    transition: all 0.2s ease-out;
    &:hover {
      color: #555;
      text-decoration: none;
    }
  }
}

.coach-media {
  margin-bottom: 30px;
  img {
    max-width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
  }
}

.coach-article {
  .home-title {
    margin: 30px 0;
  }
  p {
    line-height: 1.1;
  }
}

.coach-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
  width: 100%;
  div:last-child {
    font-weight: 600;
    color: #522511;
  }
}

.article {
  p {
    margin: 0 0 1.5em 0;
    text-align: justify;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
  }
}

.article__img {
  width: 100%;
  background: #f6f6f6;
  padding: 20px;
  object-fit: cover;
  object-position: center;
}

.article__prev {
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  color: #999;
  span {
    margin-right: 26px;
    &::after {
      content: '';
      position: absolute;
      background: #000 !important;
      border: 3px solid #ccc;
      border-radius: 90%;
      margin-left: 13px;
      margin-top: 10px;
    }
  }
  strong {
    font-weight: bold;
  }
  a {
    margin-right: 26px;
    color: #999;
    font-weight: 200;
    transition: all 0.25s ease-out;
    &:hover {
      color: #4f220f;
      text-decoration: none;
    }
    &::after {
      content: '';
      position: absolute;
      background: #000 !important;
      border: 3px solid #ccc;
      border-radius: 90%;
      margin-left: 13px;
      margin-top: 10px;
    }
  }
  a:last-child::after {
    display: none;
  }
}

.article__title {
  margin-top: 5px;
  color: #a6a6a6;
  font-size: 20px !important;
  font-family: PT Serif !important;
  font-weight: normal;
  line-height: 150%;
}

.article__author {
  display: inline-block;
  margin: 40px 0;
  background: #fff;
  border: 5px solid #eee;
  padding: 20px 20px 15px 20px;
  color: #2a2b2c;
  font-weight: bold;
  font-size: 18px;
}

.article__latest {
  font-size: 22px !important;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  padding-right: 10px;
  color: #4f220f;
  overflow: hidden;
  span {
    &::after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #ddd;
      margin-top: 15px;
      margin-left: 10px;
      width: 78%;
    }
  }
}

.article-last-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  a {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 190px;
    text-align: center;
    transition: all 0.2s ease-out;
    img {
      display: block;
      width: 190px;
      height: 120px;
      margin-bottom: 10px;
      padding: 6px;
      background: #f0f0f0;
      transition: all 0.2s ease-out;
    }
    span {
      font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
      color: #bbb;
      font-size: 16px !important;
      font-weight: 200;
      line-height: 1.4;
      transition: all 0.2s ease-out;
    }
    &:hover {
      text-decoration: none;
      img {
        background: #522511;
      }
      span {
        opacity: 0.7;
      }
    }
  }
}

.article-sidebar {
  select {
    width: 100%;
    padding: 10px;
    color: #999;
    outline: none;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 7px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 16px;
  }
}

.article-sidebar__block {
  margin-bottom: 50px;
}

.article-sidebar__title {
  display: block;
  margin-bottom: 10px;
  color: #4f220f;
  font-family: 'PT Serif', serif;
  font-size: 24px !important;
}

.side-article {
  margin-bottom: 10px;
  a {
    font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
    color: #555;
    font-size: 16px !important;
    font-weight: 200;
    line-height: 1.4;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  span {
    color: #a6a6a6;
    font-size: 14px;
    font-family: PT Serif, serif;
    line-height: 1.2;
    display: block;
    font-style: italic;
  }
}

.side-category {
  display: block;
  padding: 5px 5px 0px 0px !important;
  color: #6f6f6f;
  background-position: bottom;
  font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !important;
  font-size: 16px !important;
  font-weight: 200;
  line-height: 1.4;
  transition: all 0.2s ease-out;
  color: #555;
  font-weight: 200;
  line-height: 1.4;
  &:hover {
    opacity: 0.7;
    color: #555;
    text-decoration: none;
  }
}

.side__news {
  display: block;
  padding-bottom: 20px;
  margin: 10px 0 30px 0;
  transition: all 0.2s ease-out;
  border-bottom: 1px dashed #ededed;
  img {
    display: block;
    max-width: 100%;
    height: 165px;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    margin-top: 10px;
    transition: all 0.2s ease-out;
    color: #555;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.4;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.article-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 12px 0;
  padding: 0px;
  border: 1px solid #ededed;
  width: 100%;
  border-radius: 5px;
  span {
    display: inline-block;
    padding: 0 8px;
    color: #4f220f;
    font-family: PT Serif !important;
    font-weight: normal;
    line-height: 150%;
    font-size: 16px;
  }
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #bbb;
    font-size: 18px;
    transition: all 0.2s ease-out;
    i {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
    &:hover {
      .fa-facebook {
        background-color: #3B5998;
        color: white;
      }
      .fa-twitter {
        background-color: #00B6F3;
        color: white;
      }
      .fa-pinterest {
        background-color: #C82828;
        color: white;
      }
      .fa-envelope {
        background-color: #7F8C8D;
        color: white;
      }
      .fa-plus {
        background-color: #FF5C3D;
        color: white;
      }
    }
  }
}

.personal-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #522411;
  font-family: PT Serif !important;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.personal-line {
  display: block;
  position: relative;
  max-width: 180px;
  margin: 0 auto;
  height: 5px;
  margin-top: 0px;
  text-align: center;
  background: #f0f0f0;
  border-radius: 90px;
  transition: all 0.25s ease-in-out;
  &:after {
    display: block;
    position: relative;
    width: 20%;
    height: 5px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 90px;
    content: '';
    background: #522511;
    transition: all 0.25s ease-in-out;
  }
  &:hover {
    &:after {
      width: 40%;
    }
  }
}

.personal-text {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: #b8b8b8;
  line-height: 24px;
}

.personal-text-block {
  margin-top: 20px;
  p {
    text-align: justify;
    color: #555;
    font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
  }
  a {
    color: #522511;
  }
  &__link {
    display: block;
    margin-top: 20px;
    color: #50220f;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}

.personal-videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 40px 0 20px;
}