@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .navbar-scroll_active {
    display: none !important;
  }
  .main-head__info_border {
    border: none;
  }
  .main-head .container {
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .main-head__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .main-head__social {
    display: none;
  }
  .main-head__info span {
    padding: 4px 8px;
  }
  .navbar-default .navbar-toggle {
    margin-top: 25px;
  }
  .navbar-default .container {
    flex-flow: column wrap;
  }
  .navbar-default .navbar-nav>li>a {
    width: 100% !important;
    padding: 6px 12px !important;
    text-align: center;
  }
  .home-hello {
    padding: 20px 0;
  }
  .home-hello span {
    margin-bottom: 20px;
  }
  .home-features {
    justify-content: space-around;
  }
  .home-reviews {
    justify-content: space-around;
  }
  .home-reviews__card {
    width: 100% !important;
  }
  .home-tables__card {
    width: 100% !important;
    margin: 0 auto 10px;
  }
  .home-tables {
    margin-bottom: 20px;
  }
  .home-articles {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .home-articles__card {
    width: 300px;
  }
  .home-articles__more {
    margin-bottom: 20px;
  }
  .main-footer__title {
    margin-top: 0;
  }
  .main-footer {
    margin-top: 20px;
    padding: 20px 0;
  }
  .team-cards {
    justify-content: space-around;
  }
  .main-content {
    iframe {
      max-height: 250px !important;
    }
  }
  .moviews-cards {
    justify-content: space-around;
  }
  .home-title {
    font-size: 22px !important;
    line-height: 1.4;
    margin-top: 15px;
  }
  .price-title span {
    font-size: 24px;
    line-height: 1.2;
  }
  .navbar-scroll {
    button {
      margin-top: 7px !important;
      margin-left: 15px !important;
    }
  }
  .main-head__info {
    display: none;
  }
  .article-last-cards {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}