// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";
body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}